.main__heading{
    text-align: center;
    
}
body{
    background-image: linear-gradient(120deg, #1DB954, #191414);
    font-family: 'Libre Baskerville', serif;
}
.header{
    margin-top: 6%;
    padding: 2%;
    font-size: 1.6rem;
    color: white;
}
.heading{
    font-size: 5.3rem;
}
.heading__sub{
    margin-top: 1.2%;
    letter-spacing: 0.3rem;
    opacity: 0.6;  
    
}

.heading__sub__sub{
    letter-spacing: 0.1rem;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 1.5% auto 0 auto;
    width: 40%;
    color: black;
}

.content{
    margin-top: 1%;
    padding: 2%;
}

.only__moods{
    height: 3.7rem;
    border-radius: 2rem;
    width: 25rem;
    font-size: 1.2rem;
    border: none;
    color: rgb(0,100,0);
    transition: 0.2s ease-in-out;
}

.only__moods:hover{
    transform: translate(0, -2px);
    box-shadow: 0 0 4px 2px white;
}
.login{
    height: 3.7rem;
    border-radius: 2rem;
    width: 15rem;
    font-size: 1.2rem;
    border: none;
    transition: 0.2s ease-in-out;
}
.login:hover{
    transform: translate(0, -2px);
    box-shadow: 0 0 4px 2px white;
}
.login a{
    text-decoration: none;
    color: rgb(0,100,0);
   
    
}
.login a i{
    color: rgb(0, 100, 0);
    margin-left: 10px;
    font-size: 1.7rem;
}
.or{
    font-size: 20px;
}
.footer{
    margin-top: 3%;
}
.copyright{
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    color: lightgray;
}
.developedby{
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: lightgray;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }